# Julia: Manifest files
Manifest.toml

# Temporary files: Documents
*.doc#

# LA2:
LA2/*.pdf
LA2/*.dat
LA2/scripts/*.pdf
LA2/scripts/*.dat

# LA3:
LA3/*.pdf
LA3/*.dat
LA3/scripts/*.pdf
LA3/scripts/*.dat

# LA5:
LA5/*.pdf
LA5/*.dat
LA5/scripts/*.pdf
LA5/scripts/*.dat